body {
  margin: 0;
  font-family: Inter;
  margin:auto;
  max-width: 1000px;
  background-color: #1e1e1e;
  padding:10px;
  color: #e0e0e0;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
